/*
* Author: Alex P
* Project Name:
* Version:
* Date: 
* URL:
*/


/*=========
Base Styles
=========*/

html,
body {
    height: 100%;
    width: 100%;
    background: url("../img/bkgd.png");
    background-size: cover;
}

footer {
    background-color: grey;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    bottom: 0;
    height: 10px;
    text-align: center;
    color: white;
    padding: 35px 16px;
}


/* Fonts */

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4aaaa5;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

/* Elements */


/* Classes */

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}


/* IDs */


/*=========
Nav
=========*/

.navbar {
    height: 85px;
    padding-top: 10px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ccc;
}

.navbar-brand {
    height: 85px;
    display: block;
    background-color: #4aaaa5;
    margin: -11px;
    padding-top: 0px;
    border-bottom: 2px solid #ccc;
    color: #fff;
}


/*=========
Main
=========*/

.panel {
    padding: 0px 30px;
    border: 1px solid #ccc;
}

.panel > .panel-heading {
    background-image: none;
    background-color: white;
}

.panel img {
    padding-right: 15px;
}

.panel-body {
    text-align: justify;
}

.panel-body.main {
    padding: 15px 0px;
}

.panel-body.connect {
    text-align: center;
    display: inline-block;
}

.input-group {
    padding: 0px 0px 15px;
    width: 100%;
}

.btn {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

.thumbnail {
    height: 200px;
    width: 200px;
    padding: 90% 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbnail,
.project1 {
    background-image: url("../img/p1.gif");
}

.caption {
    background: #4aaaa5;
    width: 100%;
    bottom: 0;
}

.caption > p {
    color: white;
    text-align: center;
    padding: 0;
}
